.header__images-wrapper
    .header__images-padding
    .header__images-absolute
        include _mixin-headerImages
        +image-wrapper( 1 )
        +image-wrapper( 2 )
        +image-wrapper( 3 )
        +image-wrapper( 4 )

