doctype
html
    head
        include ../../common/head
    body
        #container
            .top-block__wrapper
                .top-block-one
                    div.big-text Поддержка сайта для абонентов Билайн
                    div
                        strong.strong-text 8(800)555-35-35
                .top-block-two
                    div.big-text Оператор сайта —&nbsp;
                        strong.strong-text 8(800)775-77-49
                    div.small-text Подключение/отключение услуги (звонок бесплатный)
            .header__wrapper
                .header__mobile-menu
                .header__logo
                .header__age
            .header__description Мобильный развлекательный портал
            .header__images-wrapper
            include _mixin-indexSection
            +index-section
            +index-section
            +index-section
            include footer