doctype
html
    head
        include ../../common/head
    body
        #container
            include jade/header

            .log__wrapper
                .log__caption
                    .log__caption-icon
                    .log__caption-text Введите ващ код или номер телефона:

            .log__wrapper
                
            include jade/footer
        script( type="text/javascript", src="js/jquery.slim.js" )
        script( type="text/javascript", src="js/custom.js" )
