.top-block__wrapper
    .top-block-one
        div.big-text.thin-text Поддержка сайта для абонентов Билайн
        div
            strong.strong-text.big-text 8(800)555-35-35
        div.top-block_small-text Подключение/отключение услуги (звонок бесплатный)
.header__wrapper
    .header__mobile-menu
    .header__logo
    .header__age
.header__description Мобильный развлекательный портал

