.top-block__wrapper
    div.big-text.thin-text Поддержка сайта для абонентов Билайн
    div
        strong.strong-text.big-text 8(800)555-35-35
    div.top-block_small-text Подключение/отключение услуги (звонок бесплатный)
.header__wrapper
    .menu-block__wrapper
        a( href='#podderjka').menu-block__item-container
            .menu-block__icon.icon-earphones
            .menu-block__text Служба поддержки
        a( href='#vxod').menu-block__item-container
            .menu-block__icon.icon-login
            .menu-block__text Вход
    .header__mobile-menu#mMenu
        .header__menu-wrapper
            .menu-thing
    a( href="index.html" ).header__logo
    .header__age
.header__description Мобильный развлекательный портал

