
.header__wrapper {
  .flex;
  .items-center;
  .justify-around;

  box-sizing: border-box;
  padding: 1rem;
  height: 5rem;
  margin: .5rem auto;

  position: relative;

}
.side-header-elems(){
  width: 15%;
  .flex;
  .items-center;
}

.header__mobile-menu {
  .side-header-elems;
  .justify-start;
  padding: 2rem 0;
}

.header__menu-wrapper {
  .column;
  .items-center;
  .justify-between;
  position: relative;
  height: 1.6rem;
  width: 2.5rem;
}
.menu-thing {
  position: absolute;
  left: 0;
  top: .7rem;
  .full-width;
  height: .2rem;
  background: @gray;
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  .transition;
}
.menu-thing:before,
.menu-thing:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  .full-width;
  height: .2rem;
  background: @gray;
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  .transition;
}
.menu-thing:before {
  top: -.7rem;
}
.menu-thing:after {
  top: .7rem;
}


/* menu block */

.menu-block__wrapper {
  width: auto;
  .transition;
  position: absolute;
  top: -999px;
  left: -999px;
  opacity: 0;

  padding: 1rem;
  min-height: 5rem;

  background: whitesmoke;

}

/* end of menu block */





.header__logo {
  .full-height;
  width: 66%;
  .flex-center;

  background: url('../img/logo.png') center no-repeat;
  background-size: auto 96%;

}
.header__age {
  .side-header-elems;
  .justify-end;

  height: 55%;

  background: url('../img/18.png') right no-repeat;
  background-size: auto 100%;
}



.header__description {
  .flex-center;
  background: rgb(22, 51, 64);

  box-sizing: border-box;
  padding: .8rem;
  height: 3rem;
  color: white;
  font-size: 1.3rem;
}

.header__images-wrapper {
  .full-size;
  position: relative;
  box-sizing: border-box;
  padding: 1rem;
  height: auto
}
.header__images-padding {
  height: 0;
  padding-top: 30%;
}
.header__images-absolute {
  .full-absolute;
  .flex-center;
  box-sizing: border-box;
  padding: 1rem;
}

.header__image-content {
  .full-width;
  .flex-center;
  align-self: center;
  position: relative;
  display: block;
  width: 32%;
  margin: 2px;

  > img {
    width: 100%;
    max-height: 100%;
    margin: auto 0;
    box-shadow: @shadow-images;
  }
}