
.header__wrapper {
  .flex;
  .items-center;
  .justify-around;

  box-sizing: border-box;
  padding: 1rem;
  height: 5rem;

}
.side-header-elems(){
  width: 15%;
  height: 55%;
  .flex;
  .items-center;
}

.header__mobile-menu {
  .side-header-elems;
  .justify-start;

  background: url('../img/menu.png') left no-repeat;
  background-size: auto 100%;
}
.header__logo {
  .full-height;
  width: 66%;
  .flex-center;

  background: url('../img/logo.png') center no-repeat;
  background-size: auto 100%;

}
.header__age {
  .side-header-elems;
  .justify-end;

  background: url('../img/18.png') right no-repeat;
  background-size: auto 100%;
}



.header__description {
  .flex-center;
  background: rgb(22, 51, 64);

  box-sizing: border-box;
  padding: .8rem;
  height: 3rem;

  margin: 0 -.2rem;

  color: white;
  font-size: 1.3rem;
}