.top-block__wrapper {
  background: rgb(233, 244, 205);
  .column-around;
  .items-center;

  margin: 0 -.2rem;
  padding: .5rem 0;
}
.top-block-one,
.top-block-two {
  .full-width;
  margin: .5rem auto;

  div {
    .full-width;
    .flex-center;
    text-align: center;
    margin: 0 auto;

    strong {
      display: block;
    }
  }
}

