.top-block__wrapper {
  background: rgb(233, 244, 205);
  .column-around;
  .items-center;

  padding: 1rem 0;

  div {
    .full-width;
    .flex-center;
    text-align: center;
    margin: 0 auto;

  }
}
.top-block_small-text {
  .small-text;
  color: @gray - 20;
}
